<div class="row">
    <div class="col">
        <h1>Document Loader</h1>
    </div>
    <div class="col">
        <button class="btn btn-danger" (click)="backClicked()" style="float: right">Back</button>
    </div>
</div>
<hr>


<form class="needs-validation fast fadeIn" (ngSubmit)="onSubmit()" [formGroup]="documentForm">
    <div class="form-group">
        <label>Document URL</label>
        <input type="url" formControlName="docURL" placeholder="http://www.web.com/important-url" class="form-control" [ngClass]="{ 'is-invalid': f.docURL.errors }">
        <div *ngIf="f.docURL.errors" class="invalid-feedback">
            <div *ngIf="f.docURL.errors.required">URL is required</div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="form-group col">
                <label class="">Document Name</label>
                <div class="">

                    <input class="form-control" type="text" placeholder="docname-01" formControlName="docName" [ngClass]="{ 'is-invalid': f.docName.errors }">
                    <div *ngIf="f.docName.errors" class="invalid-feedback">
                        <div *ngIf="f.docName.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label class="">Locale Code</label>
                <div>

                    <select formControlName="localeCode" class="form-control" [ngClass]="{ 'is-invalid': f.localeCode.errors }">
                            <option value="es-CL">es-CL</option>
                    </select>
                    <div *ngIf="f.localeCode.errors" class="invalid-feedback">
                        <div *ngIf="f.localeCode.errors.required">Locale Code is required</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col">
                <label class="">Document Title</label>
                <div class="">

                    <input class="form-control" type="text" placeholder="The origin of humanity" formControlName="docTitle" [ngClass]="{ 'is-invalid': f.docTitle.errors }">
                    <div *ngIf="f.docTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.docTitle.errors.required">Title is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label class="">Domain </label>
                <div class="">
                    <!-- <mat-label>Select one or more</mat-label> -->
                    <mat-select formControlName="domain" [ngClass]="{ 'is-invalid': f.domain.errors }" class="form-control" multiple>
                        <mat-option value="cheese">Cheese</mat-option>
                        <mat-option value="tomatoes">Tomatoes</mat-option>
                        <mat-option value="mozarella">Mozzarella</mat-option>
                        <mat-option value="mushrooms">Mushrooms</mat-option>
                        <mat-option value="pepperoni">Pepperoni</mat-option>
                        <mat-option value="onions">Onions</mat-option>
                    </mat-select>
                    <div *ngIf="f.domain.errors" class="invalid-feedback">
                        <div *ngIf="f.domain.errors.required">Domain is required</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col">
                <label class="">Masked URL</label>
                <div class="">

                    <input class="form-control" type="text" placeholder="www.test.cl/article1" name="correo" formControlName="maskedURL">
                </div>
            </div>
            <div class="form-group col">
                <label class="">Task </label>
                <div class="">
                    <!-- <mat-label>Select one or more</mat-label> -->
                    <mat-select formControlName="task" class="form-control" [ngClass]="{ 'is-invalid': f.task.errors }" multiple>
                        <mat-option value="cheese">Cheese</mat-option>
                        <mat-option value="tomatoes">Tomatoes</mat-option>
                        <mat-option value="mozarella">Mozzarella</mat-option>
                        <mat-option value="mushrooms">Mushrooms</mat-option>
                        <mat-option value="pepperoni">Pepperoni</mat-option>
                        <mat-option value="onions">Onions</mat-option>
                    </mat-select>
                    <div *ngIf="f.task.errors" class="invalid-feedback">
                        <div *ngIf="f.task.errors.required">Task is required</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col">
                <label class="">Search Snippet </label>
                <div class="">

                    <textarea rows="3" class="form-control" placeholder="This is a brief description of the contents of the website, shown as a fallback 'search snippet' in case NEURONE's search index cannot build one automatically." formControlName="searchSnippet"></textarea>
                </div>
            </div>
            <div class="form-group col">
                <label class="">Keywords </label>
                <div class="row">
                    <div class="col-6">

                        <!-- <input class="form-control" type="text" placeholder=""> -->
                        <tag-input formControlName='tags' [placeholder]="'Enter new keyword'"></tag-input>

                    </div>
                    <div class="col-6">

                        <button type="button" class="btn btn-success d-flex" (click)="show()"><i class="material-icons">
                                    add
                                    </i>Add</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="required" formControlName="relevant">
            <label for="required" class="form-check-label">Relevant Document</label>
        </div>
        <div class="form-group">
            <div class="row">

                <button class="btn btn-success d-flex mr-2 ml-2" type="submit" [ngClass]="{'disabled': !documentForm.valid}"><i class="material-icons">
                        backup
                        </i> &nbsp; Upload Document</button>
                <button type="button" class="btn btn-secondary d-flex" [ngClass]="{'disabled': !documentForm.valid}"><i class="material-icons">
                                    visibility
                                    </i>&nbsp; Preview</button>
            </div>
        </div>
    </div>
</form>

<hr>
<h3>Your Documents</h3>
<div class="list-group mt-3 mb-3">
    <div class="list-group-item row" *ngFor="let doc of myDocuments">
        <div class="col">

            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{doc.title}}</h5>
            </div>
            <b></b>
            <p class="mb-1">URL <b>{{doc.url}}</b></p>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success mr-3">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>