<div class="container fast fadeIn" style="margin-top:30px">
    <div class="row">
        <div class="col">
            <div class="card" style="width:320px">
                <img class="card-img-top" src="assets/img/rapida.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Quick</h4>
                    <p class="card-text">Create simulations for NEURONE in short time.</p>
                    <button (click)="newQuick()" class="btn btn-outline-light">BEGIN</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:320px">
                <img class="card-img-top" src="assets/img/personaliza.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Custom</h4>
                    <p class="card-text">Customize every component of your content.</p>
                    <button (click)="newCustom()" class="btn btn-outline-light">BEGIN</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:320px">
                <img class="card-img-top" src="assets/img/publish.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Publish</h4>
                    <p class="card-text">Make your content avaible to NEURONE.</p>
                    <button (click)="goPublish()" class="btn btn-outline-light">GO</button>
                </div>
            </div>
        </div>
    </div>
</div>