<div class="container fast fadeIn" style="margin-top:30px">
    <div class="row">
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/img/rapida.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Quick</h4>
                    <p class="card-text">Create content in easy steps.</p>
                    <button (click)="newQuick()" class="btn btn-primary">Begin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/img/personaliza.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Custom</h4>
                    <p class="card-text">Customize every component of your content.</p>
                    <button (click)="newCustom()" class="btn btn-primary">Begin</button>
                </div>
            </div>
        </div>
    </div>
</div>