<div class="container fast fadeIn">
    <h1>Content Builder <small>Custom</small></h1>

    <hr>
    <div class="row">
        <div class="card-deck" style="padding-left: 50px;">
            <div class="card">
                <img class="card-img-top" src="assets/img/template.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Customize your templates</h4>
                    <p class="card-text">Configure the views, images and modals pf your template.</p>
                    <button (click)="newTemplate()" class="btn btn-primary" style="float: right">New</button>
                    <button class="btn btn-info" style="float: left">My Templates</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/upload.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Document Loader</h4>
                    <p class="card-text">Load documents.</p>
                    <button (click)="newDocument()" class="btn btn-primary" style="float: right">Load New</button>
                    <button class="btn btn-info" style="float: left">My Documents</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/form.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Questionnaires</h4>
                    <p class="card-text">Add questionnaires for the evaluation stage.</p>
                    <button (click)="newTest()" class="btn btn-primary" style="float: right">New</button>
                    <button class="btn btn-info" style="float: left">My Questionnaires</button>
                </div>
            </div>
        </div>
    </div>
</div>