<h2>Edit Your Asset</h2>
<div *ngIf="data == 1">
    <p>Select a Locale</p>
</div>
<div *ngIf="data == 2">
    <p>Select a Domain</p>
</div>
<div *ngIf="data == 3">
    <p>Select a Task</p>
</div>
<div class="row">
    <div class="col-7">

        <select *ngIf="data == 1" class="form-control" [(ngModel)]="selectedAsset" name="selectedAsset" id="selectedAsset">
          <option *ngFor="let asset of assets" [ngValue]="asset">{{asset.code}}</option>
        </select>
        <select *ngIf="data !== 1" class="form-control" [(ngModel)]="selectedAsset" name="selectedAsset" id="selectedAsset">
          <option *ngFor="let asset of assets" [ngValue]="asset">{{asset.name}}</option>
        </select>
    </div>
    <div class="col">
        <button *ngIf="selectedAsset" mat-stroked-button color="primary" type="button" (click)="loadAsset(selectedAsset)">Load</button>
    </div>
    <div class="col">
        <button *ngIf="selectedAsset" mat-stroked-button color="warn" type="button" (click)="deleteAsset(selectedAsset)">Delete</button>
    </div>
</div>
<hr>
<div *ngIf="idAsset" mat-dialog-content>
    <form [formGroup]="assetForm">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="name">Name</label>
                <input *ngIf="data == 1" type="text" class="form-control" name="name" placeholder="American English" formControlName="name" [ngClass]="{ 'is-invalid': assetForm.controls.name.errors, 'is-valid': !assetForm.controls.name.errors}">
                <input *ngIf="data == 2" type="text" class="form-control" name="name" placeholder="Social Science" formControlName="name" [ngClass]="{ 'is-invalid': assetForm.controls.name.errors, 'is-valid': !assetForm.controls.name.errors}">
                <input *ngIf="data == 3" type="text" class="form-control" name="name" placeholder="Email" formControlName="name" [ngClass]="{ 'is-invalid': assetForm.controls.name.errors, 'is-valid': !assetForm.controls.name.errors}">
            </div>
            <div class="form-group col-3">
                <label for="alias">Alias</label>
                <input *ngIf="data == 1" type="text" class="form-control" name="alias" placeholder="US" formControlName="alias" [ngClass]="{ 'is-invalid': assetForm.controls.alias.errors, 'is-valid': !assetForm.controls.alias.errors}">
                <input *ngIf="data == 2" type="text" class="form-control" name="alias" placeholder="social" formControlName="alias" [ngClass]="{ 'is-invalid': assetForm.controls.alias.errors, 'is-valid': !assetForm.controls.alias.errors}">
                <input *ngIf="data == 3" type="text" class="form-control" name="alias" placeholder="email" formControlName="alias" [ngClass]="{ 'is-invalid': assetForm.controls.alias.errors, 'is-valid': !assetForm.controls.alias.errors}">
            </div>
            <div class="form-group col-3">
                <label for="code" *ngIf="data != 1">User Code</label>
                <label for="code" *ngIf="data == 1">Locale Code</label>
                <input *ngIf="data == 1" type="text" class="form-control" name="code" placeholder="en-US" formControlName="code" [ngClass]="{ 'is-invalid': assetForm.controls.code.errors, 'is-valid': !assetForm.controls.code.errors}">
                <input *ngIf="data == 2" type="text" class="form-control" name="code" placeholder="SS" formControlName="code" [ngClass]="{ 'is-invalid': assetForm.controls.code.errors, 'is-valid': !assetForm.controls.code.errors}">
                <input *ngIf="data == 3" type="text" class="form-control" name="code" placeholder="E" formControlName="code" [ngClass]="{ 'is-invalid': assetForm.controls.code.errors, 'is-valid': !assetForm.controls.code.errors}">
            </div>
        </div>
        <div class="form-group" *ngIf="needDescription">
            <label for="description">Description</label>
            <textarea rows="2" class="form-control" placeholder="This is a brief description." formControlName="description"></textarea>
        </div>

    </form>
    <div *ngIf="data == 1">

        <hr>
        <p>NEURONE will automatically select the latest version of locale-XX.json, where XX is the current Locale Code. </p>
    </div>
    <hr>
</div>
<div mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="onNoClick()">CANCEL</button>
    <button mat-raised-button color="primary" (click)="save()" [ngClass]="{'disabled': !assetForm.valid}">SAVE</button>
</div>